name: Flutter CI/CD (Android + Web)

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    name: Build (${{ matrix.platform }})
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - platform: web
            os: ubuntu-latest
            cmd: flutter build web

          - platform: android
            os: ubuntu-latest
            cmd: flutter build appbundle --release

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      - name: Test
        run: flutter test

      - name: Decode Android keystore
        if: matrix.platform == 'android'
        run: |
          echo "${{ secrets.ANDROID_KEYSTORE_BASE64 }}" | base64 --decode > android/upload-keystore.jks

      - name: Build
        run: ${{ matrix.cmd }}
        env:
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
          STORE_FILE: upload-keystore.jks

      - name: Upload Android artifact
        if: matrix.platform == 'android'
        uses: actions/upload-artifact@v4
        with:
          name: android-release
          path: build/app/outputs/bundle/release/app-release.aab
          if-no-files-found: error


  deploy_android:
    name: Deploy to Google Play
    needs: build_android
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: release-android
          path: release-android

      - name: Verify artifact
        run: ls -R release-android

      - name: Upload to Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: com.salih.cicdSample
          releaseFiles: release-android/app-release.aab
          track: internal
          status: draft
